!!!
%html
  %head
    %title #{@title}
  %body
    #header
      %h1 Simple Bookmark
    #content
      %ul
        - @entries.each do |entry|
          %li
            %a{ href: add_schema(entry.url) } #{shorten(entry.url)}
            (#{entry.created_at})
      %p
        %form{ action: "/add", method: "post" }
          %input{ type: "texfield", name: "url", size: 100 }
          %input{ type: "submit", value: "send" }
